<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace=
	"com.ktdsuniversity.edu.articles.dao.ArticlesDao">

<insert id="insertNewArticle"
        parameterType="com.ktdsuniversity.edu.articles.vo.request.RegistArticleVO">
        <selectKey order="BEFORE" keyProperty="id"
                   resultType="string">
                   SELECT 'AR-' || TO_CHAR(SYSDATE, 'YYYYMMDD-') || LPAD(SEQ_ARTICLES_PK.NEXTVAL, 6, '0')
                     FROM DUAL
       </selectKey>
       INSERT INTO ARTICLES
       (ID
       , SUBJECT
       , CONTENT
       , EMAIL
       , CRT_DT
       , FILE_SET_ID)
       VALUES
       (#{id}
       , #{subject}
       , #{content}
       , #{email}
       , SYSDATE
       , NULL)
</insert>

<select id="selectArticleById" parameterType="string"
        resultType="com.ktdsuniversity.edu.articles.vo.response.ArticlesVO">
        SELECT ID
     , SUBJECT
     , CONTENT
     , EMAIL
     , VIEW_CNT
     , RECOMMEND_CNT
     , DEL_YN
     , CRT_DT
     , MDFY_DT
     , FILE_SET_ID
  FROM ARTICLES
 WHERE ID = #{_parameter}
   AND DEL_YN ='N'
</select>




</mapper>